/* Info Section */
.info-section {
    padding: 0 5vw;
    text-align: center;
    background-color: white;
}

.info-title-content {
    margin: 8vw 0 16vw 0;
}

.info-title {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    font-weight: bold;
}

.info-title > span {
    position: relative;
}

.info-title span::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 2vw;
    background-color: #259d4c;
    border-radius: 4vw;
    left: 0;
    bottom: -2vw;
}

.info-description {
    margin: 8vw 1vw; /* Adjusted margin for responsiveness */
    text-align: center;
    color: rgb(77, 75, 75);
    font-family: 'Rubik', sans-serif;
    font-size: 1.8vw;
    letter-spacing: 0.8px;
    line-height: 1.8rem;
}

/* Cards */
.info-cards-content {
    margin: 8vw 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}

.info-cards {
    height: auto;
    border: none; /* Removed border */
    border-radius: 2vw;
    background-color: white;
    position: relative;
}

.info-card-title {
    margin: 2vw 0 2.5vw 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 2.8vw;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.info-card-description {
    margin: 1.6vw;
    color: rgb(77, 75, 75);
    font-family: 'Rubik', sans-serif;
    font-size: 1.8vw;
    letter-spacing: 0.8px;
    line-height: 1.5rem;
}

.info-card-icon {
    position: absolute;
    top: -2.4vw;
    left: 50%; /* Adjusted left for better alignment */
    transform: translateX(-50%); /* Centering the icon horizontally */
    padding: 1vw;
    background-color: #DCE6FF;
    border-radius: 3vw;
}

.info-fa-icon {
    color: #2C96FF;
    font-size: 2.4vw;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .info-description {
        margin: 8vw 5vw;
    }
    .info-cards-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .info-description {
        margin: 8vw 1vw;
    }
    .info-cards-content {
        grid-template-columns: repeat(1, 1fr);
    }
}
