/* ProductSection.css */
.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.category {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.category h2 {
  background: linear-gradient(to right, #Dce6ff, #54de54);
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.category h2:hover {
  background-color: #c4e0c4; /* Adjusted hover color to blend with the gradient */
}

.subcategory {
  background-color: #fafafa;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.product {
  margin-bottom: 15px;
}

.product h3 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
}

.product p {
  margin: 0;
  font-size: 1em;
  color: #555;
}
